*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

#main_text{
    display: grid;
    justify-content: center;
    font-size: 2rem;
}

#h1{
    padding-left: 3rem;
}

.ppt{
    font-size: 3rem;
    display: flex;
    justify-content: left;
    list-style: none;
    gap: 14rem;
    margin-top: 6rem;
    padding-left: 10rem;
}

#aleatorio{
    margin-left: 37rem;
}

#saber{
    width: 20rem;
    height: 20rem;
}

#archer{
    width: 20rem;
    height: 20rem;
}

#lancer{
    width: 20rem;
    height: 20rem;
}

#imagen_aleatoria{
    padding-left: 40rem;
    width: 20rem;
    height: 20rem;
}

.main_buttons{
    display: flex;
    justify-content: left;
    gap: 2rem;
    margin-top: 1rem;
    padding-left: 2rem;
}

button{
    cursor: pointer;
}

#boton_aleatorio{
    margin-left: 35rem;
}

#result_text{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 4rem;
}
